In [1]:
import pandas as pd

In [14]:
df = pd.read_csv("weather_data.csv")
df.head()

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622

In [16]:
df['Date_Time'] = pd.to_datetime(df['Date_Time'], format='%Y-%m-%d %H:%M:%S')

df['Date'] = df['Date_Time'].dt.date
df['Time'] = df['Date_Time'].dt.time

df.head()

,Location,Date_Time,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh,Date,Time
0,San Diego,2024-01-14 21:12:46,10.683001,41.195754,4.020119,8.233540,2024-01-14,21:12:46
1,San Diego,2024-05-17 15:22:10,8.734140,58.319107,9.111623,27.715161,2024-05-17,15:22:10
2,San Diego,2024-05-11 09:30:59,11.632436,38.820175,4.607511,28.732951,2024-05-11,09:30:59
3,Philadelphia,2024-02-26 17:32:39,-8.628976,54.074474,3.183720,26.367303,2024-02-26,17:32:39
4,San Antonio,2024-04-29 13:23:51,39.808213,72.899908,9.598282,29.898622,2024-04-29,13:23:51

In [17]:
df = df.drop(columns = ["Date_Time"])

In [18]:
df.head()

,Location,Temperature_C,Humidity_pct,Precipitation_mm,Wind_Speed_kmh,Date,Time
0,San Diego,10.683001,41.195754,4.020119,8.233540,2024-01-14,21:12:46
1,San Diego,8.734140,58.319107,9.111623,27.715161,2024-05-17,15:22:10
2,San Diego,11.632436,38.820175,4.607511,28.732951,2024-05-11,09:30:59
3,Philadelphia,-8.628976,54.074474,3.183720,26.367303,2024-02-26,17:32:39
4,San Antonio,39.808213,72.899908,9.598282,29.898622,2024-04-29,13:23:51

In [19]:
grouped = df.groupby('Location')
for location, group in grouped:
    print(f"Location: {location}")
    print(group)

Location: Chicago
       Location  Temperature_C  Humidity_pct  Precipitation_mm  \
17      Chicago      26.786811     31.513614          0.496024
32      Chicago      17.587820     32.817923          0.128803
38      Chicago      -2.562660     30.356593          2.624328
45      Chicago       7.166150     50.377273          4.669553
47      Chicago      38.386233     74.049712          6.792913
...         ...            ...           ...               ...
999954  Chicago      31.870160     71.849950          0.842965
999960  Chicago      -9.061359     72.270546          6.224749
999973  Chicago      16.432551     41.331437          4.395345
999983  Chicago      -6.500893     49.713982          3.050012
999998  Chicago      18.999994     63.703245          4.294325

        Wind_Speed_kmh        Date      Time
17           22.980095  2024-01-06  02:59:46
32            0.234146  2024-04-16  00:07:29
38            2.601357  2024-04-01  03:12:48
45           11.841165  2024-04-03  12:07:38
47            3.292467  2024-04-05  13:22:42
...                ...         ...       ...
999954       22.321245  2024-01-22  01:18:42
999960       22.943680  2024-01-31  15:53:16
999973        0.209104  2024-01-25  01:43:57
999983        7.596484  2024-03-02  07:20:55
999998        6.326036  2024-05-12  20:10:43

[100164 rows x 7 columns]
Location: Dallas
       Location  Temperature_C  Humidity_pct  Precipitation_mm  \
12       Dallas      32.016898     53.194371          3.552671
31       Dallas      12.865779     44.725912          4.809865
35       Dallas      17.439495     56.210161          9.728971
40       Dallas       6.514284     42.006015          1.405197
60       Dallas      -5.378187     84.479654          7.589245
...         ...            ...           ...               ...
999975   Dallas      10.569423     34.886080          3.778909
999982   Dallas      12.781843     71.636138          2.745614
999988   Dallas       8.533033     55.741400          5.099943
999994   Dallas       3.024993     78.436403          5.445869
999995   Dallas      23.416877     37.705024          3.819833

        Wind_Speed_kmh        Date      Time
12            3.050196  2024-02-27  21:07:10
31            5.567550  2024-02-22  14:16:18
35            9.497027  2024-03-22  02:34:26
40           18.385767  2024-04-03  22:07:55
60           28.508273  2024-05-06  17:55:33
...                ...         ...       ...
999975       14.157579  2024-03-02  21:57:22
999982       13.026679  2024-04-20  19:37:19
999988        0.162536  2024-02-20  02:47:16
999994       27.654454  2024-02-24  12:03:42
999995       16.538119  2024-01-01  20:29:48

[99936 rows x 7 columns]
Location: Houston
       Location  Temperature_C  Humidity_pct  Precipitation_mm  \
11      Houston      15.816764     80.119902          3.760004
13      Houston      38.641269     85.952726          0.470782
14      Houston      39.666772     72.747026          1.263722
24      Houston      -5.236300     58.054296          4.072880
33      Houston       7.630377     33.523611          2.462748
...         ...            ...           ...               ...
999950  Houston      10.532132     50.930109          4.487315
999952  Houston       0.109472     51.476435          1.836622
999959  Houston      14.650434     76.188111          8.496776
999974  Houston      14.649935     67.360890          8.017344
999984  Houston      -3.523964     57.720645          8.315032

        Wind_Speed_kmh        Date      Time
11           16.752132  2024-03-07  22:03:36
13           20.779264  2024-05-09  00:53:10
14            6.479492  2024-05-12  15:57:55
24           24.754053  2024-01-11  02:53:59
33           13.232696  2024-02-29  23:17:01
...                ...         ...       ...
999950       12.121697  2024-04-25  20:17:04
999952        5.526363  2024-01-22  01:09:06
999959        9.930967  2024-03-28  05:21:59
999974        2.744864  2024-01-22  12:52:36
999984        5.406956  2024-05-01  10:55:31

[100076 rows x 7 columns]
Location: Los Angeles
           Location  Temperature_C  Humidity_pct  Precipitation_mm  \
29      Los Angeles      -2.409511     46.834004          4.550643
62      Los Angeles      30.728417     64.881701          2.074994
64      Los Angeles      31.730567     65.332437          3.673385
70      Los Angeles      33.335417     83.384801          4.580279
79      Los Angeles      -3.089434     58.559101          5.329172
...             ...            ...           ...               ...
999949  Los Angeles      28.114686     34.722202          3.248038
999963  Los Angeles      18.717675     49.633962          6.191074
999980  Los Angeles      34.641340     78.108101          8.131816
999986  Los Angeles      -7.866196     60.587511          1.381328
999993  Los Angeles      33.255060     57.785182          1.402973

        Wind_Speed_kmh        Date      Time
29            7.437357  2024-02-15  20:47:24
62           29.129348  2024-02-05  12:16:34
64           19.710325  2024-02-06  19:02:21
70           17.432628  2024-01-06  19:12:46
79           20.474035  2024-05-17  09:13:01
...                ...         ...       ...
999949        1.393236  2024-01-24  12:49:30
999963        0.360644  2024-04-03  16:45:11
999980       19.607961  2024-03-27  12:25:39
999986        6.283328  2024-04-20  19:23:33
999993       28.194420  2024-02-15  00:12:56

[99922 rows x 7 columns]
Location: New York
        Location  Temperature_C  Humidity_pct  Precipitation_mm  \
7       New York      -6.894766     30.804894          8.027624
8       New York       0.963545     38.819158          3.640129
10      New York      35.145559     54.752866          8.349195
21      New York      -7.383811     54.089973          1.905731
28      New York      14.568328     41.350180          3.342765
...          ...            ...           ...               ...
999979  New York       1.837912     66.505813          4.934130
999990  New York      20.245916     31.677558          9.801482
999991  New York       4.210758     45.683075          2.053384
999997  New York      15.664465     62.201884          3.987558
999999  New York      10.725351     43.804584          1.883292

        Wind_Speed_kmh        Date      Time
7            16.848337  2024-01-25  19:04:34
8             7.989024  2024-03-29  05:20:30
10           25.430310  2024-03-04  13:47:15
21            6.637064  2024-02-19  12:26:07
28            4.781286  2024-01-04  21:41:10
...                ...         ...       ...
999979        4.797305  2024-01-30  15:04:59
999990       24.029331  2024-01-01  11:49:20
999991       22.351735  2024-02-14  03:55:10
999997        0.403909  2024-04-14  08:30:09
999999       15.363828  2024-04-16  16:11:52

[99972 rows x 7 columns]
Location: Philadelphia
            Location  Temperature_C  Humidity_pct  Precipitation_mm  \
3       Philadelphia      -8.628976     54.074474          3.183720
15      Philadelphia      28.290115     35.239170          9.347205
34      Philadelphia       0.351373     88.015157          1.795374
36      Philadelphia      23.405681     78.914506          7.767704
42      Philadelphia      -2.015243     36.062193          6.664136
...              ...            ...           ...               ...
999942  Philadelphia      -6.828800     75.552620          4.989081
999945  Philadelphia      -1.421709     87.915861          2.696071
999967  Philadelphia      34.022639     64.416911          6.773076
999976  Philadelphia       2.228131     72.505234          1.673376
999981  Philadelphia      25.456678     37.764932          6.724407

        Wind_Speed_kmh        Date      Time
3            26.367303  2024-02-26  17:32:39
15           14.066765  2024-03-09  01:51:24
34           21.665466  2024-04-20  09:34:59
36            3.675792  2024-03-16  23:47:55
42           18.623465  2024-05-18  02:32:21
...                ...         ...       ...
999942       29.913885  2024-03-20  13:29:31
999945       20.259065  2024-01-16  03:08:53
999967       27.439673  2024-03-09  19:36:43
999976        4.284173  2024-02-12  20:35:47
999981        0.775982  2024-04-06  23:13:06

[100122 rows x 7 columns]
Location: Phoenix
       Location  Temperature_C  Humidity_pct  Precipitation_mm  \
37      Phoenix       1.512627     89.417846          5.210117
46      Phoenix      34.453648     59.576973          4.514323
51      Phoenix       4.644342     44.420405          1.976010
85      Phoenix       1.174859     59.389939          1.879024
97      Phoenix      -6.095629     54.086857          1.591349
...         ...            ...           ...               ...
999936  Phoenix      15.373229     61.042945          5.793965
999944  Phoenix      19.463961     81.452910         12.680833
999965  Phoenix      32.574769     33.845291          8.305976
999977  Phoenix      21.036893     76.729474          9.771563
999978  Phoenix      13.335441     39.649131          8.949140

        Wind_Speed_kmh        Date      Time
37            7.332915  2024-01-29  07:08:28
46           20.487150  2024-03-24  22:44:11
51           19.343606  2024-03-31  18:02:37
85            4.159060  2024-04-30  06:09:27
97            2.985199  2024-03-15  01:15:24
...                ...         ...       ...
999936       11.996273  2024-01-06  06:44:34
999944        2.289500  2024-01-18  10:41:54
999965       19.997435  2024-01-27  02:17:09
999977        8.947006  2024-04-27  12:24:56
999978       14.625911  2024-04-29  20:49:12

[100209 rows x 7 columns]
Location: San Antonio
           Location  Temperature_C  Humidity_pct  Precipitation_mm  \
4       San Antonio      39.808213     72.899908          9.598282
16      San Antonio      16.349790     65.812607          0.109090
18      San Antonio      35.179548     35.083071          9.597294
22      San Antonio      30.739684     85.603779          9.250559
27      San Antonio       3.017951     49.868218          6.906614
...             ...            ...           ...               ...
999953  San Antonio      12.549824     87.510587          1.613786
999961  San Antonio      23.415791     68.690174          1.761356
999970  San Antonio      13.312216     83.148426          2.541415
999972  San Antonio      39.206090     66.627466          2.939854
999996  San Antonio       6.759080     40.731036          8.182785

        Wind_Speed_kmh        Date      Time
4            29.898622  2024-04-29  13:23:51
16            6.597039  2024-02-10  15:05:28
18            4.507863  2024-05-08  16:20:53
22           24.375952  2024-02-14  04:43:05
27            6.212008  2024-02-08  20:45:03
...                ...         ...       ...
999953       24.745883  2024-01-11  06:23:09
999961       26.345983  2024-04-06  11:35:39
999970        1.786053  2024-01-13  16:20:26
999972        1.334344  2024-05-02  05:32:10
999996       29.005558  2024-01-20  15:59:48

[99962 rows x 7 columns]
Location: San Diego
         Location  Temperature_C  Humidity_pct  Precipitation_mm  \
0       San Diego      10.683001     41.195754          4.020119
1       San Diego       8.734140     58.319107          9.111623
2       San Diego      11.632436     38.820175          4.607511
5       San Diego      27.341055     49.023236          9.166543
19      San Diego      14.605819     66.642235          1.515637
...           ...            ...           ...               ...
999966  San Diego      -5.358771     66.344513          7.069165
999968  San Diego      19.442325     73.653756          0.836628
999985  San Diego      38.202771     83.619146          8.083618
999987  San Diego       1.045226     89.155439          4.539199
999989  San Diego       0.954422     37.069442          4.282342

        Wind_Speed_kmh        Date      Time
0             8.233540  2024-01-14  21:12:46
1            27.715161  2024-05-17  15:22:10
2            28.732951  2024-05-11  09:30:59
5            27.473896  2024-01-21  08:54:56
19           29.431890  2024-01-31  05:38:46
...                ...         ...       ...
999966       29.642806  2024-04-23  18:32:36
999968        5.950718  2024-02-13  22:24:07
999985        7.834117  2024-03-27  13:29:35
999987        2.369581  2024-05-03  07:40:01
999989       29.620164  2024-03-14  09:24:02

[99774 rows x 7 columns]
Location: San Jose
        Location  Temperature_C  Humidity_pct  Precipitation_mm  \
6       San Jose       1.881883     65.742325          0.221709
9       San Jose      -1.607088     82.198701          4.101493
23      San Jose      34.539654     57.793010          3.583560
25      San Jose      -1.733200     47.973206          7.066381
49      San Jose      35.097440     40.225820          6.088406
...          ...            ...           ...               ...
999932  San Jose      36.462987     54.691087          9.135078
999962  San Jose      24.326973     58.667543          2.238676
999969  San Jose      19.964541     86.875155          5.353166
999971  San Jose      38.428298     42.200630          2.999543
999992  San Jose      14.067557     45.668296          0.296306

        Wind_Speed_kmh        Date      Time
6             1.073112  2024-01-13  02:10:54
9            25.647282  2024-05-18  09:14:02
23           13.044745  2024-04-22  03:13:26
25            3.430741  2024-03-05  21:38:36
49           20.013380  2024-05-08  20:16:57
...                ...         ...       ...
999932       17.524197  2024-05-07  03:10:14
999962       26.798245  2024-05-16  22:35:01
999969       19.146324  2024-01-07  06:52:05
999971       10.208343  2024-02-07  18:39:55
999992       11.883972  2024-01-22  15:43:07

[99863 rows x 7 columns]

In [23]:
dfs_by_location = {location: group for location, group in df.groupby('Location')}
df_new_york = dfs_by_location["New York"]
df_san_diego = dfs_by_location["San Diego"]
df_phoenix = dfs_by_location["Phoenix"]
df_houston = dfs_by_location["Houston"]
df_dallas = dfs_by_location["Dallas"]
df_chicago = dfs_by_location["Chicago"]
df_los_angeles= dfs_by_location["Los Angeles"]
df_philadelphia = dfs_by_location["Philadelphia"]
df_san_antonio = dfs_by_location["San Antonio"]
df_san_jose = dfs_by_location["San Jose"]


df_new_york.to_csv('weather_new_york.csv', index=False)
df_san_diego.to_csv('weather_san_diego.csv', index=False)  
df_phoenix.to_csv('weather_phoenix.csv', index=False)  
df_houston.to_csv('weather_houston.csv', index=False)  
df_dallas.to_csv('weather_dallas.csv', index=False)  
df_chicago.to_csv('weather_chicago.csv', index=False)
df_los_angeles.to_csv('weather_los_angeles.csv', index=False)  
df_philadelphia.to_csv('weather_philadelphia.csv', index=False)  
df_san_antonio.to_csv('weather_san_antonio.csv', index=False)  
df_san_jose.to_csv('weather_san_jose.csv', index=False)